<mat-card class="example-card" >
  <mat-card-header>
    <mat-card-title>Ingrese sus credenciales para comenzar tu sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre de usuario" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="login()" color="primary">Entrar</button>
  </mat-card-actions>
</mat-card>
